@{
	//string base64Image = Convert.ToBase64String(Program.HotelPic);
	//string base64Image = Convert.ToBase64String(0x89504E470D0A1A0A0000000D494844520000002000000020080300000044A48AC600000090504C54450000000AE0FF0AE0FF0CE0FF0BE1FF0CE0FF0CE0FF09E1FF09E1FF08E1FF0AE0FF08E1FF0AE1FF0CE0FF0AE1FF0AE1FF09E1FF09E1FF0BE0FF0AE0FF0AE1FF08E1FF0BE0FF0CE0FF0BE0FF0CE0FF09E0FF0BE1FF09E1FF0BE1FF0BE1FF09E1FF0CE0FF0BDFFF0DE1FF0AE1FF09E0FF07E0FF0BE1FF09E1FF0AE0FF0DE0FF0AE1FF08E1FF0AE1FF0BE0FF09E0FF0CE0FF91E8C39D0000002F74524E5300A39EEEA1F6DD5DA97063290FF2A6998434E6C49507F8EBE1D4CAB6B03C2415FABEB27C7C776969564E4847461C1CB3B908A6000000D94944415438CB85D3E70E82301486E1E3A8A5B62C056508B8B7F6FEEFCE48CB520E7D7F7E7902092D00DC75A675A3C06359089D46F2B785E3B781257BDAE4E8137484E240773401C94C40DE3A60799D7FA3CC59576026DAC0852AE1ADB438B4C1189A7C5B7F90020140A5EA8280FAEB592878AA317A610062B5662848D54A51E0AAF56C020C0596E915895A1F18E0A41C571C034C9F608800AE4FD4837E102ED5B6F5FB014FAAAB0BFF40E4F731913ABF0DEC59D982C83ACF7027F7300C62310C52013A47F6444E83FF2609DED044893D69B2A35D400B68FA00062B5FA6EB12ABCF0000000049454E44AE426082);
	//var l = 5;

}
<!DOCTYPE html> 
<html lang="en">
	
<!-- doccure/profile-settings.html  30 Nov 2019 04:12:18 GMT -->
<head>
		<meta charset="utf-8">
		<title>HotelsBooking</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<!-- Favicons -->
		<link href="~/assets/img/logo.png" rel="icon">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">
		<link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
		 <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
		<!-- Datetimepicker CSS -->
		<link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css">
		
		<!-- Select2 CSS -->
		<link rel="stylesheet" href="/assets/plugins/select2/css/select2.min.css">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="/assets/css/style.css">
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="index-2.html" class="navbar-brand logo">
			
							@*<img src="assets/img/hotels/hotel1.jpg" class="img-fluid" alt="Logo">*@
							<img src="~/assets/img/logo.png" style="width:40px;height:40px;margin-left:54px" class="img-fluid" alt="Logo">
						
						
						
						
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index-2.html" class="menu-logo">
								<img src="~/assets/img/logo.png" class="img-fluid" alt="Logo">


							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li>
								<a asp-controller="Home" asp-action="Index">Home</a>
							</li>
							
							
							<li class="has-submenu">
								<a href="#">Hotel <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a asp-controller="Hotel" asp-action="GetHotelReviews">Hotel Dashboard </a></li>
									<li><a asp-controller="Room" asp-action="AddRooms" >Add rooms</a></li>
									<li><a asp-controller="Hotel" asp-action="RoomsList" >All rooms</a></li>
									<li><a asp-controller="Room" asp-action="AddSuit">Add Suit</a></li>
									<li><a asp-controller="Hotel" asp-action="EditHotelProfileSetting">Profile Settings</a></li>
									<li><a asp-controller="Hotel" asp-action="GetHotelHistory">Reviews </a></li>
									<li><a asp-controller="Hotel" asp-action="AddHotelService">Add Hotel Services</a></li>
									<li><a asp-controller="Hotel" asp-action="AllServices">Hotel Services</a></li>
								</ul>
							</li>
						
							<li class="login-link">
								<a href="login.html">Login / Signup</a>
							</li>
						</ul>
					</div>		 
					<ul class="nav header-navbar-rht">
						<li class="nav-item contact-item">
							<div class="header-contact-img">
								<i class="far fa-hospital"></i>							
							</div>
							<div class="header-contact-detail">
								<p class="contact-header">Contact</p>
								<p class="contact-info-header"> +1 315 369 5943</p>
							</div>
						</li>
						
						<!-- User Menu -->
						<li class="nav-item dropdown has-arrow logged-item">
							<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
								<span class="user-img">
									@if(Program.HotelPic == null)
								{
									<img class="rounded-circle" src="/assets/img/avatar-male.jpg" width="31" alt="Hotel Photo">

								}
								else
								{
									
									<img class="rounded-circle" src="data:image;base64,@Convert.ToBase64String(Program.HotelPic)" width="31" alt="Hotel Photo">
								}
								</span>
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<div class="user-header">
									<div class="avatar avatar-sm">
										@if(Program.HotelPic == null)
										{
											<img src="~/assets/img/avatar-male.jpg" alt="Hotel Image" class="avatar-img rounded-circle"/>

										}
										else
										{
									
							            <img src="data:image;base64,@Convert.ToBase64String(Program.HotelPic)" alt="Hotel Image" class="avatar-img rounded-circle" />
											
										}
									</div>
									<div class="user-text">
										<h6>@Program.HotelName</h6>
										<p class="text-muted mb-0">Pages</p>
									</div>
								</div>
								<a class="dropdown-item" href="patient-dashboard.html">Dashboard</a>
								@*<a class="dropdown-item" href="profile-settings.html">Profile Settings</a>*@
								<a class="dropdown-item" asp-controller="Room" asp-action="AddRooms">Add Room</a>
								<a class="dropdown-item" asp-controller="Hotel" asp-action="RoomsList">All Rooms</a>
								<a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
							</div>
						</li>
						<!-- /User Menu -->
						
					</ul>
				</nav>
			</header>
			<!-- /Header -->
			
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">@ViewData["title"]</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
					
						<!-- Profile Sidebar -->
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
							<div class="profile-sidebar">
								<div class="widget-profile pro-widget-content">
									<div class="profile-info-widget">
										<a href="#" class="booking-doc-img">
											@if(Program.HotelPic==null)
										{
											<img src="assets/img/hotels/hotel1.jpg" alt="Hotel Image">

										}
										else
										{
									
							            <img src="data:image;base64,@Convert.ToBase64String(Program.HotelPic)" alt="Hotel Image" />
											
										}
										</a>
										<div class="profile-det-info">
											<h3> @Program.HotelName</h3>
											<div class="patient-details">
												<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i>@Program.HotelCity</h5>
											</div>
										</div>
									</div>
								</div>



								<div class="dashboard-widget" id="sidebar-menu">
									<nav class="dashboard-menu">
										<ul>
											<li>
												<a asp-controller="Hotel" asp-action="GetHotelReviews">
													 
													<i class="fas fa-columns"></i>
													<span>Dashboard</span>
												</a>
											</li>
											<li>
												<a asp-controller="Hotel" asp-action="RoomsList">
													<i class="fas fa-bookmark"></i>
													<span>All Rooms </span>
												</a>
											</li>
											<li>
												<a asp-controller="Hotel" asp-action="SuitsList">
													<i class="fas fa-bookmark"></i>
													<span> All Suit</span>
												</a>
											</li>
											
												<li>

												<a asp-controller="Hotel" asp-action="AllServices">
													<i class="fas fa-bookmark"></i>
													<span>Hotel services</span>
												</a>
											</li>

											<li>
												<a asp-controller="Hotel" asp-action="EditHotelProfileSetting">
													<i class="fas fa-user-cog"></i>
													<span>Profile Settings</span>
												</a>
											</li>
											<li>
												<a asp-controller="Hotel" asp-action="GetHotelHistory">
													<i class="fas fa-dollar-sign"></i>

													<span>visitor History </span>
												</a>
											</li>
											
											<li>
												<a asp-area="Identity" asp-page="/Account/Logout">
													<i class="fas fa-sign-out-alt"></i>
													<span >Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>

							</div>
						</div>
						<!-- /Profile Sidebar -->
		 @RenderBody()	
					
					</div>
				</div>

			</div>		
			<!-- /Page Content -->
   
			<!-- Footer -->
			<footer class="footer">
				
				<!-- Footer Top -->
				<div class="footer-top">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img src="~/assets/img/logo.png"style="width:40px;height:40px;margin-left:54px" alt="logo">
									</div>
									<div class="footer-about-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
										<div class="social-icon">
											<ul>
												<li>
													<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Patients</h2>
									<ul>
										<li><a href="search.html"><i class="fas fa-angle-double-right"></i> Search for Doctors</a></li>
										<li><a href="login.html"><i class="fas fa-angle-double-right"></i> Login</a></li>
										<li><a href="register.html"><i class="fas fa-angle-double-right"></i> Register</a></li>
										<li><a href="booking.html"><i class="fas fa-angle-double-right"></i> Booking</a></li>
										<li><a href="patient-dashboard.html"><i class="fas fa-angle-double-right"></i> Patient Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Doctors</h2>
									<ul>
										<li><a href="appointments.html"><i class="fas fa-angle-double-right"></i> Appointments</a></li>
										<li><a href="chat.html"><i class="fas fa-angle-double-right"></i> Chat</a></li>
										<li><a href="login.html"><i class="fas fa-angle-double-right"></i> Login</a></li>
										<li><a href="doctor-register.html"><i class="fas fa-angle-double-right"></i> Register</a></li>
										<li><a href="doctor-dashboard.html"><i class="fas fa-angle-double-right"></i> Doctor Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-contact">
									<h2 class="footer-title">Contact Us</h2>
									<div class="footer-contact-info">
										<div class="footer-address">
											<span><i class="fas fa-map-marker-alt"></i></span>
											<p> 3556  Beech Street, San Francisco,<br> California, CA 94108 </p>
										</div>
										<p>
											<i class="fas fa-phone-alt"></i>
											+1 315 369 5943
										</p>
										<p class="mb-0">
											<i class="fas fa-envelope"></i>
											HotelsBooking@example.com
										</p>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container-fluid">
					
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0"><a href="templateshub.net">Templates Hub</a></p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">
								
									<!-- Copyright Menu -->
									<div class="copyright-menu">
										<ul class="policy-menu">
											<li><a href="term-condition.html">Terms and Conditions</a></li>
											<li><a href="privacy-policy.html">Policy</a></li>
										</ul>
									</div>
									<!-- /Copyright Menu -->
									
								</div>
							</div>
						</div>
						<!-- /Copyright -->
						
					</div>
				</div>
				<!-- /Footer Bottom -->
				
			</footer>
			<!-- /Footer -->
		   
		</div>
		<!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="/assets/js/jquery.min.js"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="/assets/js/popper.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		
		<!-- Select2 JS -->
		<script src="/assets/plugins/select2/js/select2.min.js"></script>
		
		<!-- Datetimepicker JS -->
		<script src="/assets/js/moment.min.js"></script>
		<script src="/assets/js/bootstrap-datetimepicker.min.js"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
        <script src="/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>
		
		<!-- Custom JS -->
		<script src="/assets/js/script.js"></script>
		
	</body>

<!-- doccure/profile-settings.html  30 Nov 2019 04:12:18 GMT -->
</html>
 <script src="~/lib/bootbox.js/bootbox.min.js"></script>
 <script src="~/assets/js/activePage.js"></script>
 @await Component.InvokeAsync("NToastNotify")